.settings-view {
  .section {
    .badge {
      &.badge-flexible {
        background-color: @text-color-subtle;
        color: @text-color-highlight;
      }
    }
    .section-heading {
      color: @text-color-info;
      font-size: 1.6em;
    }
  }
}
